<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="srinivas" translate="label" sortOrder="10">
            <label>Srinivas Extension</label>
        </tab>
        <section id="expirydate" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Expiry Date</label>
            <tab>srinivas</tab>
            <resource>Srinivas_ProductExpiryDate::ProductExpiryDate</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Expiry Date</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_text" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Error Message</label>
                    <validate>required-entry</validate>
                    <comment>Error Message to show as Error in cart page</comment>
                </field>
            </group>
        </section>
    </system>
</config>


<!--    display_text      type="text"-->
